files:
  "/etc/security/limits.conf":
    mode: "00644"
    owner: "root"
    group: "root"
    content: |
      *         hard    nofile      65536
      *         soft    nofile      65536


commands:
 01_replaceWCs:
   command: sed -i 's/worker_connections\ \ 1024/worker_connections\ \ 40096/g' /etc/nginx/nginx.conf
 01restart_docker:
    command: /sbin/service docker stop && ulimit -n 65536 && /sbin/service docker start